@charset "ISO-8859-1";

.about-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-header {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
}

.about-header #heading {
    font-size: 36px;
    color: white;
}

.about-header p {
    font-size: 18px;
    color: white;
    
}

.about-mission,
.about-values,
.about-team {
    margin-bottom: 30px;
}

.about-mission h2,
.about-values h2,
.about-team h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  	justify-content: center;
}

.about-mission p {
    font-size: 16px;
    line-height: 1.6;
}

.about-values ul {
    list-style: none;
    padding-left: 0;
}

.about-values li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {

    text-align: center;
    max-width: 200px;
    margin: 10px;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 20px;
    color: #4CAF50;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 16px;
    color: #666;
}